*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: pink;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header {
    background-color: #fff8f3;
    padding-top: 50px;
}
nav {
    width: 71%;
    max-width: 1140px;
    border: 1px solid red;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
.logo h2 {
    font-size: 45px;
    font-weight: 900p
    ;
}
.rr {
    color: red;
}
nav .menu {
display: flex;
list-style: none;
gap: 51px;
align-items: center;
}
nav .menu a { 
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
.btn {
    background-color: #fd6e0a;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    columns: white;
}